.about {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__photo {
    display: none;
    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 900px) {
  .about {
    &__container {
      & > * {
        flex-basis: 50%;
      }
    }

    &__photo {
      display: block;
    }
  }
}
