@font-face {
  font-family: 'Onest';
  src: url(./assets/fonts/OnestThin.woff);
  font-weight: 100;
}
@font-face {
  font-family: 'Onest';
  src: url(./assets/fonts/OnestLight.woff);
  font-weight: 300;
}
@font-face {
  font-family: 'Onest';
  src: url(./assets/fonts/OnestRegular.woff);
  font-weight: 400;
}
@font-face {
  font-family: 'Onest';
  src: url(./assets/fonts/OnestBold.woff);
  font-weight: 700;
}

:root {
  --bg-color: #161616;
  --bg-color2: #0f0f0f;
  --bg-color3: #1d1d1a;
  --accent-color: #23ce6b;
  --warning-color: #fffc31;
  --text-color: #f6f8ff;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
  color: var(--text-color);
}
