@font-face {
  font-family: 'Onest';
  src: url(./assets/fonts/OnestThin.woff);
  font-weight: 100;
}
@font-face {
  font-family: 'Onest';
  src: url(./assets/fonts/OnestLight.woff);
  font-weight: 300;
}
@font-face {
  font-family: 'Onest';
  src: url(./assets/fonts/OnestRegular.woff);
  font-weight: 400;
}
@font-face {
  font-family: 'Onest';
  src: url(./assets/fonts/OnestBold.woff);
  font-weight: 700;
}

:root {
  --bg-color: #2d3436;
  --bg-color2: #232a2b;
  --accent-color: #22dd88;
  --text-color: #dfe6e9;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
  color: var(--text-color);
}
