.experience {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__description {
    font-size: 1.4rem;
  }

  &__badges {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__steps {
    display: flex;
    flex-direction: column;
  }

  &__step {
    position: relative;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;

    &:not(:last-child):before {
      content: '';
      position: absolute;
      top: 30%;
      left: -3rem;
      width: 0.2rem;
      height: 95%;
      background-color: var(--accent-color);
    }

    &-title {
      position: relative;
      margin: 1rem 0;
      font-size: 2.25rem;
      font-weight: 700;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(-4.25rem - 2px);
        transform: translateY(-50%);
        height: 2.5rem;
        width: 2.5rem;
        background-color: var(--bg-color);
        border: 4px solid var(--accent-color);
        border-radius: 99rem;
      }
    }

    &:not(:last-child) .experience__step-title:after {
      content: '';
      position: absolute;
      top: 50%;
      left: calc(-4rem + 1.5px);
      transform: translateY(-50%);
      height: 2rem;
      width: 2rem;
      background-color: var(--accent-color);
      border-radius: 99rem;
    }

    &-description {
      font-size: 1.25rem;
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 900px) {
  .experience {
    &__wrapper {
      flex-direction: row;
    }

    &__container {
      flex: 50%;
    }

    &__text {
      font-size: 1rem;
    }

    &__step {
      &-title {
        font-size: 1.5rem;
      }

      &-description {
        font-size: 1rem;
      }

      &:not(:last-child) .experience__step-title:after {
        left: calc(-4rem + 2px);
      }
    }
  }
}
